# eclipse
.classpath
.project
.settings
.metadata
.recommenders

# tmp files
*~

# target 
/target/classes/
/target/generated-sources
/target/generated-test-sources
/target/surefire-reports
/target/maven-status/
/target/test-classes
/target/

# idea
.idea
.idea/
.idea/workspace.xml
cy3sbml.iml

# logs
cy3sbml.log
logs/cy3sbml_build.log
lib/logs/
*.log
logfile.name_IS_UNDEFINED
