.classpath
.project
.settings
.metadata
.recommenders
*~
/target/classes/
/target/generated-sources
/target/generated-test-sources
/target/surefire-reports
/target/maven-status/
/target/test-classes

