* {
    font-size: 12px;
}

table {
    font-size: 11px;
}

.ontology{
    background-color: #5FBDCE;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.collection{
    background-color: #000000;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.identifier{
    background-color: #ffac1b;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.purl{
    color: grey;
}

.icon-invisible {
    visibility: hidden;
}
.icon-black {
    color: black;
}

/* References */
.ref-item {
    list-style-type: none;
}
.ref-item a{
    font-size: 10px;
}
.ref-title{
    font-size: 10px;
    font-weight: bold;
}
.ref-authors{
    font-size: 10px;
}
.ref-journal{
    font-size: 10px;
}

.term{
    background-color: #ffac1b;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.item{
    background-color: gray;
    padding:2px;
    padding-right:4px;
    color: black;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.comment{
    background-color: gray;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.cvterm{
    border-radius: 25px;
    background: #f9f9f9;
    padding: 10px;
}


.qualifier{
    background-color: #13721c;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.unit{
    background-color: rgba(200, 200, 200, 0.51);
    padding:2px;
    padding-right:4px;
    color: black;
    font-family: monospace;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.math{
    color: black;
    font-family: monospace;
}