* {
    font-size: 12px;
}

table {
    font-size: 11px;
}

.ontology{
    background-color: #5FBDCE;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.collection{
    background-color: #000000;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.identifier{
    background-color: #ffac1b;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.purl{
    color: grey;
}

.icon-invisible {
    visibility: hidden;
}

.term{
    background-color: #ffac1b;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.cvterm{
    border-radius: 25px;
    background: #f9f9f9;
    padding: 10px;
}


.qualifier{
    background-color: #13721c;
    padding:2px;
    padding-right:4px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.unit{
    background-color: rgba(200, 200, 200, 0.51);
    padding:2px;
    padding-right:4px;
    color: black;
    font-family: monospace;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}